__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv/
venv/
.DS_Store
*.log
*.tmp
*.swp

checkpoints/**
!checkpoints/.gitkeep
results/**
!results/.gitkeep
figures/**
!figures/.gitkeep

*.pth
*.pt
*.ckpt
